<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Contacto</h1>
    <h2>Toda la informacion para contactarnos</h2>
</div>


<div class="content d-flex justify-content-evenly align-items-center">
    <div class="row">
        <div>
            <h3>DIRECCIÓN</h3>
            <ul>
                <li>Argentina-Rosario / España 2022 </li>
            </ul>

            <h3>DATOS DE CONTACTO</h3>
            <ul>
                <li>Teléfono: </li>
                <li>Email: </li>
            </ul>

            <h3>HORARIOS</h3>
            <ul>
                <li>Lunes a Viernes:</li>
                <li><p>10:30-14:00 // 16:00-20:00</p></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div>
            <h1>UBICACIÓN</h1>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>