<app-loader *ngIf="!componentsLoaded"></app-loader>
<div *ngIf="componentsLoaded">
<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Contacto</h1>
    <h2>Toda la informacion para contactarnos</h2>
</div>

<div style="height: 100px"></div>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-6">
            <div>
                <i class='bx bx-home'></i>
                <h3>DIRECCIÓN</h3>
                <ul>
                    <li><a href="https://www.google.com/maps/place/Tienda+de+U%C3%B1as+%7C+Sal%C3%B3n%2F+Escuela+y+Rock%26roll/@-32.9596515,-60.6502414,21z/data=!4m15!1m8!3m7!1s0x95b7ab0cdd5e702b:0xbe70d691f639ff72!2sEspa%C3%B1a+2022,+S2000+Rosario,+Santa+Fe!3b1!8m2!3d-32.9595713!4d-60.650295!16s%2Fg%2F11k5bmycld!3m5!1s0x95b7ab13aba71c91:0xddf20553214be84!8m2!3d-32.95956!4d-60.6503982!16s%2Fg%2F11c6vb3kqx?entry=ttu"
                            target="_blank">España 2024,<br />S2000 Rosario, Santa Fe</a></li>
                </ul>
            </div>
            <div>
                <i class='bx bx-user'></i>
                <h3>DATOS DE CONTACTO</h3>
                <ul>
                    <li>Celular: <a href="https://wa.me/3412525386" target="_blank">341 532 8036</a></li>
                    <li>
                        <p>Email: <a href="mailto:tduvalesosa@gmail.com">tduvalesosa&#64;gmail.com</a></p>
                    </li>
                </ul>
            </div>
            <div>
                <i class='bx bx-stopwatch'></i>
                <h3>HORARIOS</h3>
                <ul>
                    <li>Lunes a Viernes:</li>
                    <li>
                        <p>10:30-14:00 // 16:00-20:00</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <i class='bx bx-map'></i>
                <h3>UBICACIÓN</h3>
                <ul>
                    <li>
                        <div class="container card-container">
                            <div class="gradient-border body" id="box">
                                <iframe class="map-iframe"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.688116908696!2d-60.65254146942018!3d-32.95924276098322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab0cdd10372b%3A0x9ce6c4571835a2ae!2sEspa%C3%B1a%202024!5e0!3m2!1ses!2sar!4v1706332880953!5m2!1ses!2sar"
                                    style="border:0;"
                                    allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                            </div>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div style="height: 100px"></div>
<app-footer></app-footer>
</div>