<footer>
    <div class="centered clearfix">
      <div class="footer-logo">
        <img class="logo" src="../../../assets/tdu-logo.png">
        
      </div>
      <div class="footer-contact">
         <h3><a href="">Contacto</a></h3>
         <p><a href="mailto:">fake.com</a></p>
         <p><a href="tel:">123-456-7890</a></p>
         <p><a href="">123 Fake St<br />Fake, PA 11111</a></p>
      </div>
      <div class="footer-navigation">
        <div class="footer-links-holder">
          <h3><a href="">Web</a></h3>
          <ul class="footer-links">
            <li><a href="">Inicio</a></li>
            <li><a href="">Cursos</a></li>
            <li><a href="">¿Quienes somos?</a></li>
            <li><a href="">Contacto</a></li>
          </ul>
        </div>
        <div class="footer-links-holder">
          <h3><a href="">Siguenos en</a></h3>
          <ul class="footer-links">
            <div class="social">
              <i class='bx bxl-facebook-square'><a href="https://www.facebook.com/" class="facebook"></a></i>
              <i class='bx bxl-instagram-alt'><a href="https://www.instagram.com/" class="instagram"></a></i>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="bottom-bar">
        Diseñado por | <a href="https://kiri-1.github.io/BlogUXUI/index.html">Belen Jesus</a> & <a href="https://matias.dev.ar/">Matias Colazo</a>
    </div>
  </footer>