<footer>
  <div class="centered clearfix">
    <div class="footer-logo">
      <img class="logo" src="../../../assets/ROSA-TDU.png">

    </div>
    <div class="footer-contact">
      <h3>Contacto</h3>
      <p><i class='bx bxs-envelope'></i><a href="mailto:tduvalesosa@gmail.com">tduvalesosa@gmail.com</a></p>
      <p><i class='bx bxs-phone'></i><a href="https://wa.me/3412525386" target="_blank">341 532 8036</a></p>
      <p><i class='bx bxs-store' ></i><a href="https://www.google.com/maps/place/Tienda+de+U%C3%B1as+%7C+Sal%C3%B3n%2F+Escuela+y+Rock%26roll/@-32.9596515,-60.6502414,21z/data=!4m15!1m8!3m7!1s0x95b7ab0cdd5e702b:0xbe70d691f639ff72!2sEspa%C3%B1a+2022,+S2000+Rosario,+Santa+Fe!3b1!8m2!3d-32.9595713!4d-60.650295!16s%2Fg%2F11k5bmycld!3m5!1s0x95b7ab13aba71c91:0xddf20553214be84!8m2!3d-32.95956!4d-60.6503982!16s%2Fg%2F11c6vb3kqx?entry=ttu" target="_blank">España 2024,<br />S2000 Rosario, Santa Fe</a></p>
    </div>
    <div class="footer-contact">
      <h3>Apartados Web</h3>
      <ul class="footer-links">
        <li><a routerLink="/inicio">Inicio</a></li>
        <li><a routerLink="/cursos-y-jornadas">Cursos & Jornadas</a></li>
        <li><a routerLink="/sobremi">Sobre mí</a></li>
        <li><a routerLink="/insumos">Insumos</a></li>
        <li><a routerLink="/contacto">Contacto</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>Seguime en</h3>
      <ul class="footer-links">
        <div class="social">
          <a href="https://www.facebook.com/p/Tienda-de-U%C3%B1as-Sal%C3%B3n-EscuelaRockandRoll-100046421606458" target="_blank" class="facebook"><i class='bx bxl-facebook-square'></i></a>
          <a href="https://www.instagram.com/tdu_valesosa/" target="_blank" class="instagram"><i class='bx bxl-instagram-alt'></i></a>
        </div>
      </ul>
    </div>
  </div>
  <div class="bottom-bar">
    <div>
      | Copyright © Tienda de Uñas |
    </div>
    Diseñado por | <a href="https://kiri-1.github.io/BlogUXUI/index.html">Belen Jesus</a> & <a
      href="https://matias.dev.ar/">Matias Colazo</a>
  </div>
</footer>