@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.content {
    min-height: 100vh;
    margin: 0;
  }
  
  .banner {
    position: relative;
    width: 100%;
    height: 48vh;
    background-image: url('../../../assets/tdu-banner2.jpg');
    background-size: cover;
    background-position: center;
    animation: zoomBackground 10s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #fff;
    font-family: 'Rye', serif;
    text-transform: uppercase;
    
  }
  
  h2 {
    color: #8F0408;
    font-family: 'Roboto Slab';
    font-weight: 700 !important;
  }
  
  h6 {
    color: #fff;
    margin: 0 10px 5px 0;
    font-size: 22px;
    font-family: 'Rye', serif;
    text-transform: uppercase;
  }

  .banner h1 {
    margin: 0;
    font-size: 50px;
  }
  
  @keyframes zoomBackground {
    0% {
      background-size: 100%;
    }
  
    100% {
      background-size: 120%;
    }
  }
  
  
  
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }


  .contenedor {
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  

  .info {
    max-width: 30%; 
  }

  .texto-info {
    font-family:'Roboto Slab';
    color: #f8f8f8;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: 300;
  }
  


  .contenedor-imagenes {
    max-width: 30%;
    margin-right: 40px;
  }
  
  .imagen {
    width: 100%;
    height: auto;
    display: block; /* Asegúrate de que las imágenes ocupen el espacio necesario */
  }
  
  #imagen2 {
    display: none; /* Inicialmente oculta */
    transform: scale(0.95);
  }
  
  .contenedor-imagenes:hover #imagen2 {
    display: block; /* Se muestra al pasar el ratón */
  }
  
  .contenedor-imagenes:hover #imagen1 {
    display: none; /* Se oculta al pasar el ratón */
  }


@media screen and (max-width: 768px) {
  .contenedor-imagenes {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-right: 0;
  }

.contenedor{
  flex-direction: column;
  align-items: center;
  
}

.imagen{
  max-width: 70%;
  height: auto;
  margin-right: 0;
  margin-bottom: 20px;
}

.info{
  max-width: 70%;
}
}






