<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Sobre mí</h1>
    <h2>Toda la informacion sobre la escuela</h2>
</div>

<div class="content d-flex justify-content-center align-items-center">
    <img src="../../../assets/tdu-sobremi.png" class="imagen">
    <div class="info">
        <h6>DETALLES & INFORMACIÓN</h6>
        <p class="texto-info">
            Mi nombre es Valeria Sosa, naci en Argentina mas precisamente en la ciudad de Rosario (Pcia. Sta. Fe)
            En el año 2009 comencé en el mundo de la estética, y al poco tiempo en el mundo de las Uñas. Siendo esto
            ultimo lo que mas me apasiona.
            Soy Educadora desde el 2013 y Desde el año 2015 comencé a invitar grandes maestros nacional, e internacional
            a mi ciudad.
        </p>
        <p class="texto-info">
            En 2016 Funde Tienda de uñas. Salón y Escuela, la cual recibe muchos alumnos de manera constante hasta la
            actualidad.
            Me certifique como técnica en uñas con marcas internacionales como Harmony, Tones y desde 2017 soy Técnica
            Internacional de la marca Eurofashiion Akademia paznokia (Polonia) De la mano de la master Roció del Prado.
            En 2018 Recibo el nombramiento de Nail Artist Oficial Argentina de Dicha marca,
            En 2021 Tienda de Uñas y Valeria Sosa Arte en Miniatura Ya es Marca registrada.
        </p>
        <p class="texto-info">
            Soy participante activa de eventos y competencia de uñas  Naylimpions  obteniendo en algunas ocasiones  primeros y segundos puestos en Flat y Mx media.
            Me actualizo y me capacito constantemente en el rubro de las uñas, Arte y bioseguridad. 
            Tales conocimientos adquiridos  me permiten brindar un excelente servicio de salón  y una educación de Alto nivel.
        </p>
    </div>
</div>
<app-footer></app-footer>