<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Quienes somos?</h1>
    <h2>Toda la informacion sobre la escuela</h2>
</div>

<div class="content d-flex justify-content-center align-items-center">
        <img src="../../../assets/tdu-sobremi.png" class="imagen">
    <div class="info">
        <h6>DETALLES & INFORMACIÓN</h6>
        <p class="texto-info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit ex voluptate esse! Minus error iure quae consectetur, doloremque
            consequuntur reiciendis. Alias velit laborum dolore explicabo a amet expedita blanditiis
            exercitationem?
        </p>
        <p class="texto-info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit ex voluptate esse! Minus error iure quae consectetur, doloremque
            consequuntur reiciendis. Alias velit laborum dolore explicabo a amet expedita blanditiis
            exercitationem?
        </p>
        <p class="texto-info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Reprehenderit ex voluptate esse! Minus error iure quae consectetur, doloremque
            consequuntur reiciendis. Alias velit laborum dolore explicabo a amet expedita blanditiis
            exercitationem?
        </p>
    </div>
</div>