<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Sobre mí</h1>
    <h2>Toda la información sobre la escuela</h2>
</div>

<div style="height: 100px"></div>
<div class="contenedor">
    <div class="container-wrapper">
        <div class="container">
            <div class="card card0">
                <div class="border">
                    <h2 class="hidden">Valeria Sosa</h2>
                    <div class="icons">
                        <a href="https://www.instagram.com/tdu_valesosa/" target="_blank"><i class='bx bxl-instagram' aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/p/Tienda-de-U%C3%B1as-Sal%C3%B3n-EscuelaRockandRoll-100046421606458" target="_blank"><i class='bx bxl-facebook' aria-hidden="true" ></i></a>
                        <a href="https://wa.me/3412525386" target="_blank"><i class='bx bxl-whatsapp'aria-hidden="true" ></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info">
            <h6>Biografía</h6>
            <p class="texto-info">
                Mi nombre es Valeria Sosa, naci en Argentina mas precisamente en la ciudad de Rosario (Pcia. Sta. Fe)
                En el año 2009 comencé en el mundo de la estética, y al poco tiempo en el mundo de las Uñas. Siendo esto
                ultimo lo que mas me apasiona.
                Soy Educadora desde el 2013 y Desde el año 2015 comencé a invitar grandes maestros nacional, e internacional
                a mi ciudad.
            </p>
            <p class="texto-info">
                En 2016 Funde Tienda de uñas. Salón y Escuela, la cual recibe muchos alumnos de manera constante hasta la
                actualidad.
                Me certifique como técnica en uñas con marcas internacionales como Harmony, Tones y desde 2017 soy Técnica
                Internacional de la marca Eurofashiion Akademia paznokia (Polonia) De la mano de la master Roció del Prado.
                En 2018 Recibo el nombramiento de Nail Artist Oficial Argentina de Dicha marca,
                En 2021 Tienda de Uñas y Valeria Sosa Arte en Miniatura Ya es Marca registrada.
            </p>
            <p class="texto-info">
                Soy participante activa de eventos y competencia de uñas Naylimpions obteniendo en algunas ocasiones
                primeros y segundos puestos en Flat y Mx media.
                Me actualizo y me capacito constantemente en el rubro de las uñas, Arte y bioseguridad.
                Tales conocimientos adquiridos me permiten brindar un excelente servicio de salón y una educación de Alto
                nivel.
            </p>
        </div>
    </div>
</div>
<div style="height: 100px"></div>

<app-footer></app-footer>
