<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Cursos & Jornadas</h1>
  <h2>Toda la informacion sobre cursos y jornadas</h2>
</div>


  <div class="content">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card small-card">
          <img src="../../../assets/imgu1.png" alt="">
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card small-card">
          <img src="../../../assets/imgu1.png" alt="">
        </div>
      </div>
    </div>
    
  </div>
