<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Cursos</h1>
  <h2>Toda la informacion sobre los cursos</h2>
</div>

<div style="height: 100px"></div>
<div class="contenedor">
  <div class="texto">
    <div class="info">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at perspiciatis
        quidem odio natus. Dolor nihil dolore quibusdam voluptas eius? Ratione facilis tenetur laboriosam,
        eum repellendus molestias distinctio voluptate quas!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at perspiciatis
        quidem odio natus. Dolor nihil dolore quibusdam voluptas eius? Ratione facilis tenetur laboriosam,
        eum repellendus molestias distinctio voluptate quas!</p>
    </div>
    <ol class="lista-circular">
      <li>
        <div class="">
          <h6>Manicuría Profesional</h6>
          <span>Adéntrate en el mundo profesional de la manicura y perfecciona tus habilidades 
            con técnicas de vanguardia. Este curso intensivo está diseñado para enseñarte todo sobre 
            el cuidado y embellecimiento de las uñas, preparándote para ofrecer servicios de alta calidad que 
            satisfagan incluso a los clientes más exigentes.</span>
        </div>
      </li>
      <li>
        <div class="">
          <h6>Nail Art</h6>
          <span>En este curso se busca preparar a la alumna de tal modo que pueda desenvolverse al momento de diseñar 
            en tiempo real de Salón.  Buscando de esta forma  brindarle la herramienta y el conocimiento necesario
             para que marque la diferencia.</span>
        </div>
      </li>
      <li>
        <div class="">
          <h6>Esculpidas de Salón</h6>
          <span>En este curso aprenderás desde cero las técnicas comerciales de salon. 
            Desde Polygel a Acrílicas. Colocación correcta de Moldes , Tips, Cápsulas Dual y reparación de uñas para Onicofagia. 
            Serás Experta en estos Sistemas!</span>
        </div>
      </li>
      <li>
        <div class="">
          <h6>Manicuría Combinada/Rusa</h6>
          <span> Si buscas la perfección en tu trabajo, este es el curso que debes comenzar 
            Te brindaré los conocimientos específicos con respecto al uso especial del Torno. 
            Aplicándolo de la manera correcta para que cuides la
            Salud de la uña natural y realices una limpieza profunda de Cutículas, sin olvidarnos de Bioseguridad. </span>
        </div>
      </li>
      <li>
        <div class="">
          <h6>Esmaltado Semipermanente/Capping</h6>
          <span>Domina el arte del esmaltado semipermanente y capping, una habilidad esencial
             para cualquier manicurista profesional. Este curso te enseñará a aplicar esmaltes de larga
              duración con técnicas que protegen y fortalecen las uñas</span>
        </div>
      </li>
    </ol>
  </div>
  <div class="imagen">
    <img src="../../../assets/curso-tdu.jpg" alt="Descripción de la imagen" class="img">
    <div>
      <button class="btn" routerLink="/jornadas">
        Ver Jornadas
      </button>
    </div>
  </div>
</div>
<div style="height: 100px"></div>

<app-footer></app-footer>