<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Cursos</h1>
  <h2>Toda la informacion sobre los cursos</h2>
</div>

<div style="height: 100px"></div>
<div class="contenedor">
  <div class="texto">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at perspiciatis 
      quidem odio natus. Dolor nihil dolore quibusdam voluptas eius? Ratione facilis tenetur laboriosam, 
      eum repellendus molestias distinctio voluptate quas!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at perspiciatis 
        quidem odio natus. Dolor nihil dolore quibusdam voluptas eius? Ratione facilis tenetur laboriosam, 
        eum repellendus molestias distinctio voluptate quas!</p>
      <ol class="lista-circular">
        <li>
          <div class="">
            <h6>Título 1</h6>
            <span>Primer elemento</span>
          </div>
        </li>
        <li>
          <div class="">
            <h6>Título 1</h6>
            <span>Primer elemento</span>
          </div>
        </li>
        <li>
          <div class="">
            <h6>Título 1</h6>
            <span>Primer elemento</span>
          </div>
        </li>
      </ol>
  </div>
  <div class="imagen">
    <img src="../../../assets/imgu1.png" alt="Descripción de la imagen">
  </div>
</div>
<div style="height: 100px"></div>


<app-footer></app-footer>