.content {
 
  min-height: 100vh;
 
  margin: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 48vh;
  background-image: url('../../../assets/tdu-banner2.jpg');
  background-size: cover;
  background-position: center;
  animation: zoomBackground 10s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: 'Rye', serif;
  text-transform: uppercase;
  
}

h2 {
 color: #8F0408;
 font-family: Roboto Slab;
}

.banner h1 {
  margin: 0;
  font-size: 50px;
}

@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 120%;
  }
}



.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}


.contenedor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}



.texto {
  width: 40%;
  margin-right: 20px;
  color: #fff;
}

.info{
  margin-bottom: 100px;
}

.imagen {

}

.lista-circular {
  list-style: none;
  counter-reset: lista-numerada;
  padding-left: 0;
}

.lista-circular li {
  counter-increment: lista-numerada;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.lista-circular li::before {
  content: counter(lista-numerada);
  color: #fff;
  width: 2em;
  height: 2em;
  line-height: 1.85em;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  border: 1px solid #fff;
  font-size: 26px;
  margin-bottom: 20px;
}

.lista-circular h6 {
  margin: 0 10px 5px 0;
  font-size: 1em;
}

/* Asegúrate de que el span se alinee con el número */
.lista-circular li span {
  display: inline-block;
  margin-left: 10px;
}

.lista-circular li::after {
  content: '';
  position: absolute;
  left: 1.5em;
  top: 3.2em; 
  bottom: -20px;
  border-left: 2px solid #fff; 
  z-index: -1; 
}

/* No dibujar una línea en el último elemento */
.lista-circular li:last-child::after {
  display: none;
}
