<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Jornadas</h1>
  <h2>Toda la informacion sobre las jornadas</h2>
</div>

<div style="height: 100px"></div>
<div class="contenedor">
  <div class="texto">
    <div class="info">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at perspiciatis
        quidem odio natus. Dolor nihil dolore quibusdam voluptas eius? Ratione facilis tenetur laboriosam,
        eum repellendus molestias distinctio voluptate quas!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id at perspiciatis
        quidem odio natus. Dolor nihil dolore quibusdam voluptas eius? Ratione facilis tenetur laboriosam,
        eum repellendus molestias distinctio voluptate quas!</p>
    </div>
    <ol class="lista-circular">
      <li>
        <div class="">
          <h6>Sistema Soft Gel </h6>
          <span></span>
        </div>
      </li>
      <li>
        <div class="">
          <h6>Nail Art</h6>
          <span>En este curso se busca preparar a la alumna de tal modo que pueda desenvolverse al momento de diseñar 
            en tiempo real de Salón.  Buscando de esta forma  brindarle la herramienta y el conocimiento necesario
             para que marque la diferencia.</span>
        </div>
      </li>
    </ol>
  </div>
  <div class="imagen">
    <img src="../../../assets/tdu-jornadas.jpg" alt="Descripción de la imagen" class="img">
    <div>
      <button class="btn" routerLink="/cursos">
        Ver Cursos
      </button>
    </div>
  </div>
</div>
<div style="height: 100px"></div>

<app-footer></app-footer>