.content {
 
    min-height: 100vh;
   
    margin: 0;
  }
  
  .banner {
    position: relative;
    width: 100%;
    height: 48vh;
    background-image: url('../../../assets/tdu-banner3.jpg');
    background-size: cover;
    background-position: center;
    animation: zoomBackground 10s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #fff;
    font-family: 'Rye', serif;
    text-transform: uppercase;
    
  }
  
  h2 {
   color: #8F0408;
   font-family: Roboto Slab;
   font-weight: 700!important;
  }
  
  .banner h1 {
    margin: 0;
    font-size: 50px;
  }
  
  @keyframes zoomBackground {
    0% {
      background-size: 100%;
    }
  
    100% {
      background-size: 120%;
    }
  }
  
  
  
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .card {
    width: 460px; /* 500px - 2 * 40px */
    height: 560px;
    position: relative;
    border-radius: 17px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
  }
  
  /* Fondo semi-transparente */
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(115, 2, 6, 0.733);
    border-radius: 17px;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
  }
  
  /* Borde animado */
  .card::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 4px solid black;
    border-radius: 13px;
    /* Ajustar según sea necesario */
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.1);
    z-index: 1;
    /* Debajo del fondo semi-transparente */
  }
  
  .card:hover::before {
    opacity: 1;
    /* Hace visible el fondo semi-transparente */
  }
  
  .card:hover::after {
    opacity: 1;
    transform: scale(1);
    /* Anima el borde al tamaño normal */
  }
  
  .card:hover {
    border: 1px solid black;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.05);
    background-color: rgba(114, 0, 4, 0.856);
  }

  .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    color: #fff;
}

.card-content h3 {
    margin: 0;
    font-size: 24px;
    font-family: 'Rye', serif;
}

.card-content p {
    margin: 10px 0;
    font-size: 16px;
    font-family: 'Roboto';
}
