<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Cursos & Jornadas</h1>
    <h2>Toda la informacion sobre cursos y jornadas</h2>
</div>


<div class="content d-flex justify-content-evenly align-items-center">
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/cursos">
                <div class="card small-card">
                    <img src="../../../assets/imgu1.png" alt="">
                    <div class="card-content">
                        <h3>Cursos</h3>
                        <p>Descripción breve del curso.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a routerLink="/jornadas">
                <div class="card small-card">
                    <img src="../../../assets/imgu1.png" alt="">
                    <div class="card-content">
                        <h3>Jornadas</h3>
                        <p>Descripción breve de la jornada.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>