
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

  
  .banner {
    position: relative;
    width: 100%;
    height: 48vh;
    background-image: url('../../../assets/tdu-banner3.jpg');
    background-size: cover;
    background-position: center;
    animation: zoomBackground 10s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #fff;
    font-family: 'Rye', serif;
    text-transform: uppercase;
    
  }
  
  h2 {
   color: #8F0408;
   font-family: 'Roboto Slab';
   font-weight: 700!important;
  }
  
  .banner h1 {
    margin: 0;
    font-size: 50px;
  }
  
  @keyframes zoomBackground {
    0% {
      background-size: 100%;
    }
  
    100% {
      background-size: 120%;
    }
  }
  
  
  
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }


  .row{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .card {

    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0;
  }
  
 .custom-card-size {
    max-width: 80%; 
    margin: 0 auto; 
}
  
  /* Fondo semi-transparente */
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7302068a;
    
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 2;
  }
  
  /* Borde animado */
  .card::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 4px solid #ffffff;
    
    /* Ajustar según sea necesario */
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.1);
    z-index: 1;
    /* Debajo del fondo semi-transparente */
  }
  
  .card:hover::before {
    opacity: 1;
    /* Hace visible el fondo semi-transparente */
  }
  
  .card:hover::after {
    opacity: 1;
    transform: scale(1);
    /* Anima el borde al tamaño normal */
  }
  
  .card:hover {
    border: 1px solid black;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(1.05);
    background-color: #730205;
  }

  .card-content {
    position: absolute;
    text-align: center;
    z-index: 3;
    color: #fff;
    margin-bottom: 100px;
}

.card-content h3 {
    margin: 0;
    font-size: 42px;
    font-family: 'Rye', serif;
}

.card-content p {
    margin: 10px 0;
    font-size: 24px;
    font-family: 'Roboto';
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s; /* Transición suave */
}

/* Cuando se hace hover sobre la tarjeta, el párrafo se vuelve visible */
.card:hover .card-content p {
  visibility: visible;
  opacity: 1;
}



@media (max-width: 992px) { /* Pantallas mayores a 992px (md en Bootstrap) */
  .custom-card-size {
      max-width: 80%; /* Tamaño aún más pequeño para pantallas grandes */
  }

  .card-content h3{
    font-size: 20px;
  }
}