<div class="content" [ngClass]="{'scrolled': isScrolled}">
    <div class="header-content">
        <p class="logonav">Valeria Sosa</p>
        <ul class="example-1">
            <li class="icon-content">
                <a class="link" data-social="instagram" aria-label="instagram"
                    href="https://www.instagram.com/tdu_valesosa/" target="_blank">
                    <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li class="icon-content">
                <a class="link" data-social="facebook" aria-label="facebook"
                    href="https://www.facebook.com/p/Tienda-de-U%C3%B1as-Sal%C3%B3n-EscuelaRockandRoll-100046421606458"
                    target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
            </li>
            <li class="icon-content">
                <a class="link" data-social="whatsapp" aria-label="whatsapp" href="https://wa.me/3412525386"
                    target="_blank">
                    <i class='bx bxl-whatsapp'></i>
                </a>
            </li>
            <label class="burger" (click)="toggleMenu()" [ngClass]="{'menu-open': isMenuOpen}">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </ul>
    </div>
</div>
<div class="menu-overlay" *ngIf="isMenuOpen">
    <!-- Contenido del menú -->
    <ul>
        <li class="menu"><a routerLink="/inicio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>
        <li class="menu"><a routerLink="/cursos" routerLinkActive="active">Cursos</a></li>
        <li class="menu"><a routerLink="#" routerLinkActive="active">Contacto</a></li>
        <!-- Otros elementos del menú -->
    </ul>
</div>