<div class="container justify-content-end">
<main>
    <ul class="example-1">
        <li class="icon-content">
            <a class="link" data-social="spotify" aria-label="Spotify" href="https://www.spotify.com/">
                <i class='bx bxl-instagram'></i>
            </a>
            <div class="tooltip">Spotify</div>
        </li>
        <li class="icon-content">
            <a class="link" data-social="pinterest" aria-label="Pinterest" href="https://www.pinterest.com/">
                <i class='bx bxl-facebook' ></i>
            </a>
            <div class="tooltip">Pinterest</div>
        </li>
        <li class="icon-content">
            <a class="link" data-social="dribbble" aria-label="Dribbble" href="https://dribbble.com/">
                <i class='bx bxl-whatsapp'></i>
            </a>
            <div class="tooltip">Dribbble</div>
        </li>
        <label class="burger" for="burger">
            <input type="checkbox" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </ul>
</main>
</div>
