<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Distribuidora TDU</h1>
  <h2>Toda la informacion sobre los productos</h2>
</div>

<div style="height: 100px"></div>

<div class="container-fluid">
  <div class="row">
    <!-- Menú -->
    <div class="col-lg-3">
      <div class="d-flex flex-column">
        <h5 class="categorias">Categorias</h5>
        <input type="radio" name="tab" id="tab1" class="tab tab--1" [(ngModel)]="selectedTab" value="1" />
        <div class="label-container">
          <label class="tab_label" for="tab1">Todos los productos</label>
        </div>

        <input type="radio" name="tab" id="tab2" class="tab tab--2" [(ngModel)]="selectedTab" value="2" />
        <div>
          <label class="tab_label" for="tab2">Esmaltes tradicional</label>
        </div>

        <input type="radio" name="tab" id="tab3" class="tab tab--3" [(ngModel)]="selectedTab" value="3" />
        <div>
          <label class="tab_label" for="tab3">Esmaltes semipermanente</label>
        </div>

        <input type="radio" name="tab" id="tab4" class="tab tab--4" [(ngModel)]="selectedTab" value="4" />
        <div>
          <label class="tab_label" for="tab4">Preparadores y adherentes</label>
        </div>

        <input type="radio" name="tab" id="tab5" class="tab tab--5" [(ngModel)]="selectedTab" value="5" />
        <div>
          <label class="tab_label" for="tab5">Polimeros</label>
        </div>

        <input type="radio" name="tab" id="tab6" class="tab tab--6" [(ngModel)]="selectedTab" value="6" />
        <div>
          <label class="tab_label" for="tab6">Monomeros</label>
        </div>

        <input type="radio" name="tab" id="tab7" class="tab tab--7" [(ngModel)]="selectedTab" value="7" />
        <div>
          <label class="tab_label" for="tab7">Geles</label>
        </div>

        <input type="radio" name="tab" id="tab8" class="tab tab--8" [(ngModel)]="selectedTab" value="8" />
        <div>
          <label class="tab_label" for="tab8">Adhesivos para piedreria</label>
        </div>

        <input type="radio" name="tab" id="tab9" class="tab tab--9" [(ngModel)]="selectedTab" value="9" />
        <div>
          <label class="tab_label" for="tab9">Limas</label>
        </div>

        <input type="radio" name="tab" id="tab10" class="tab tab--10" [(ngModel)]="selectedTab" value="10" />
        <div>
          <label class="tab_label" for="tab10">Tips</label>
        </div>

        <input type="radio" name="tab" id="tab11" class="tab tab--11" [(ngModel)]="selectedTab" value="11" />
        <div>
          <label class="tab_label" for="tab11">Herramientas</label>
        </div>

        <input type="radio" name="tab" id="tab12" class="tab tab--12" [(ngModel)]="selectedTab" value="12" />
        <div>    
          <label class="tab_label" for="tab12">Decoracion</label>
        </div>

        <input type="radio" name="tab" id="tab13" class="tab tab--13" [(ngModel)]="selectedTab" value="13" />
        <div>   
          <label class="tab_label" for="tab13">Pinceleria</label>
        </div>

        <input type="radio" name="tab" id="tab14" class="tab tab--14" [(ngModel)]="selectedTab" value="14" />
        <div>   
          <label class="tab_label" for="tab14">Cabinas</label>
        </div>

        <input type="radio" name="tab" id="tab15" class="tab tab--15" [(ngModel)]="selectedTab" value="15" />
        <div>
          <label class="tab_label" for="tab15">Apoyamanos</label>
        </div>


      </div>
    </div>
  



  <!-- Todos los productos -->
    <div class="col-lg-9">
      <div class="row">
        <div class="row" *ngIf="selectedTab === '1'">
        
          <div class="col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/esmalte-tdu.jpg" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Tarjeta 4 -->
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Agrega más tarjetas según sea necesario -->
        </div>
          <!-- Esmalte tradicional -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '2'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- Esmalte semipermanente -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '3'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

          <!-- Preparadores y adherentes -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '4'">

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>


         <!-- Polimeros -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '5'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Monomeros -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '6'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

          <!-- Geles -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '7'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- Adhesivos para piedreria -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '8'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

          <!-- limas -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '9'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- tips -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '10'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Herramientas -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '11'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Decoracion -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '12'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Pinceleria -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '13'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Cabinas -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '14'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- apoyamanos -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '15'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

      </div>
    </div>
  </div>
</div>


<div style="height: 100px"></div>

<app-footer></app-footer>