@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.banner {
  position: relative;
  width: 100%;
  height: 48vh;
  background-image: url('../../../assets/productos-tdu.jpg');
  background-size: cover;
  animation: zoomBackground 10s infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: 'Rye', serif;
  text-transform: uppercase;

}

h2 {
  color: #8F0408;
  font-family: 'Roboto Slab';
  font-weight: 700 !important;
}

.banner h1 {
  margin: 0;
  font-size: 50px;
}

/* Cambia el color o animación del label seleccionado */
input[type="radio"]:checked + div > .tab_label {
  color: #ac0d12; /* Color activo */
  font-weight: bold; /* O cualquier estilo que desees */
}

input[type="radio"]:checked + div > .tab_label::before {
  width: 100%; /* Mantén la animación activa */
}

label {
  position: relative;
  margin-bottom: 5px;
  transition: color 0.5s ease; /* Transición suave */
}

label::before {
  content: '';
  width: 0;
  height: 2px;
  background: #ac0d12;
  display: block;
  transition: width 0.5s ease;
  position: absolute;
  bottom: 0;
  left: 0;
}

label:hover {
  color: #ac0d12;
}

label:hover::before {
  width: 100%;
}

@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 120%;
  }
}

label {
  position: relative;
  margin-bottom: 5px;
}

label::before {
  content: '';
  width: 0;
  height: 2px;
  background: #ac0d12;
  display: block;
  transition: width 0.5s;
  position: absolute;
  bottom: 0;
  left: 0;
}

label:hover::before {
  width: 100%;
}

label:hover {
  color: #ac0d12;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  cursor: pointer;
  color: #fff;
  font-family: 'Roboto Slab';
  font-size: 16px;
}

.categorias {
  color: #ac0d12;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: 'Rye', serif;
  text-transform: uppercase;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  cursor: pointer;
  color: #ffffff;
  margin-left: 20px;
}



.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carta-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: 'Roboto Slab';
  font-size: 16px;
}

.carta {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.carta .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.carta .front-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.carta .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-100deg, #360101 30%, #8F0408 70%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translatex(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  animation: waveAnimation 5s linear infinite;
}

.carta .content .heading {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.carta:hover .content {
  transform: translateY(0);
}

.carta:hover .front-content {
  transform: translateX(20%);
}

.carta:hover .front-content p {
  opacity: 0;
}

@media (max-width: 768px) {
  .carta-container {
    max-width: none;
    width: 80%;
  }

  .row {
    padding: 20px 0 0 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .banner h1 {
    margin: 0;
    font-size: 30px;
  }

  .cartas {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.texto {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  font-family: 'Roboto Slab';
}

h6 {
  margin: 0 10px 5px 0;
  font-size: 21px;
  font-family: 'Rye', serif;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
}

.local-link {
  color: red;
  text-decoration: none;
}

.whatsapp-link {
  color: #25D366;
  /* Color oficial de WhatsApp */
  text-decoration: none;
}

.instagram-link {
  color: #C13584;
  /* Color oficial de Instagram */
  text-decoration: none;
}