<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Distribuidora TDU</h1>
  <h2>Toda la informacion sobre los productos</h2>
</div>

<div style="height: 100px"></div>

<div class="texto">
  <h6>Distribuidora TDU</h6>
        <p>
          Somos tu destino confiable para productos de uñas de uso profesional. En Tienda De Uñas Distribuidora, 
          nos enorgullecemos de ofrecer una amplia gama de productos de la más alta calidad, 
          perfectos para satisfacer las necesidades de los profesionales del cuidado de uñas y contamos
          con el mejor asesoramiento
        </p>
        <p>
          Para encargar, puedes pasar por el <a
            href="https://www.google.com/maps/place/Tienda+de+U%C3%B1as+%7C+Sal%C3%B3n%2F+Escuela+y+Rock%26roll/@-32.9596515,-60.6502414,21z/data=!4m15!1m8!3m7!1s0x95b7ab0cdd5e702b:0xbe70d691f639ff72!2sEspa%C3%B1a+2022,+S2000+Rosario,+Santa+Fe!3b1!8m2!3d-32.9595713!4d-60.650295!16s%2Fg%2F11k5bmycld!3m5!1s0x95b7ab13aba71c91:0xddf20553214be84!8m2!3d-32.95956!4d-60.6503982!16s%2Fg%2F11c6vb3kqx?entry=ttu"
            class="local-link" target="_blank"><b>local</b></a>,
          o a través de <a href="https://wa.me/3412525386" class="whatsapp-link" target="_blank"><b>WhatsApp</b></a>.
          Para conocer más noticias sobre los productos, puedes seguirme en <a href="https://www.instagram.com/tdu_valesosa/"
            class="instagram-link" target="_blank"><b>Instagram</b></a>.
        </p>
</div>

      <div style="height: 50px"></div>

<div class="container-fluid">
  <div class="row">
    <!-- Menú -->
    <div class="col-lg-3">
      <div class="d-flex flex-column">
        <h5 class="categorias">Categorias</h5>
        <input type="radio" name="tab" id="tab1" class="tab tab--1" [(ngModel)]="selectedTab" value="1" />
        <div class="label-container">
          <label class="tab_label" for="tab1">Todos los productos</label>
        </div>

        <input type="radio" name="tab" id="tab2" class="tab tab--2" [(ngModel)]="selectedTab" value="2" />
        <div>
          <label class="tab_label" for="tab2">Esmaltes tradicional</label>
        </div>

        <input type="radio" name="tab" id="tab3" class="tab tab--3" [(ngModel)]="selectedTab" value="3" />
        <div>
          <label class="tab_label" for="tab3">Esmaltes semipermanente</label>
        </div>

        <input type="radio" name="tab" id="tab4" class="tab tab--4" [(ngModel)]="selectedTab" value="4" />
        <div>
          <label class="tab_label" for="tab4">Preparadores y adherentes</label>
        </div>

        <input type="radio" name="tab" id="tab5" class="tab tab--5" [(ngModel)]="selectedTab" value="5" />
        <div>
          <label class="tab_label" for="tab5">Polimeros</label>
        </div>

        <input type="radio" name="tab" id="tab6" class="tab tab--6" [(ngModel)]="selectedTab" value="6" />
        <div>
          <label class="tab_label" for="tab6">Monomeros</label>
        </div>

        <input type="radio" name="tab" id="tab7" class="tab tab--7" [(ngModel)]="selectedTab" value="7" />
        <div>
          <label class="tab_label" for="tab7">Geles</label>
        </div>

        <input type="radio" name="tab" id="tab8" class="tab tab--8" [(ngModel)]="selectedTab" value="8" />
        <div>
          <label class="tab_label" for="tab8">Adhesivos para piedreria</label>
        </div>

        <input type="radio" name="tab" id="tab9" class="tab tab--9" [(ngModel)]="selectedTab" value="9" />
        <div>
          <label class="tab_label" for="tab9">Limas</label>
        </div>

        <input type="radio" name="tab" id="tab10" class="tab tab--10" [(ngModel)]="selectedTab" value="10" />
        <div>
          <label class="tab_label" for="tab10">Tips</label>
        </div>

        <input type="radio" name="tab" id="tab11" class="tab tab--11" [(ngModel)]="selectedTab" value="11" />
        <div>
          <label class="tab_label" for="tab11">Herramientas</label>
        </div>

        <input type="radio" name="tab" id="tab12" class="tab tab--12" [(ngModel)]="selectedTab" value="12" />
        <div>    
          <label class="tab_label" for="tab12">Decoracion</label>
        </div>

        <input type="radio" name="tab" id="tab13" class="tab tab--13" [(ngModel)]="selectedTab" value="13" />
        <div>   
          <label class="tab_label" for="tab13">Pinceleria</label>
        </div>

        <input type="radio" name="tab" id="tab14" class="tab tab--14" [(ngModel)]="selectedTab" value="14" />
        <div>   
          <label class="tab_label" for="tab14">Cabinas</label>
        </div>

        <input type="radio" name="tab" id="tab15" class="tab tab--15" [(ngModel)]="selectedTab" value="15" />
        <div>
          <label class="tab_label" for="tab15">Apoyamanos</label>
        </div>


      </div>
    </div>
  



  <!-- Todos los productos -->
    <div class="col-lg-9">
      <div class="row">
        <div class="row" *ngIf="selectedTab === '1'">
        
          <div class="col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/esmalte-tdu.jpg" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/empujador-cuticulas.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Tarjeta 4 -->
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Agrega más tarjetas según sea necesario -->
        </div>
          <!-- Esmalte tradicional -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '2'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/top-coat-cherimoya.png" alt="top-coat-cherimoya" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">top coat cherimoya</p>
                  <p class="texto-insumos">
                    Top coat cherimoya: esmalte tradicional: $1800
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/esmalte-tradicional-chico-bb.png" alt="esmalte-tradicional-chico-bb" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">esmalte tradicional chico bb</p>
                  <p class="texto-insumos">
                    Esmalte tradicional chico variedad de colores (marca bebe): $800
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/esmalte-tradicional-grande-bb.png" alt="esmalte-tradicional-grande-bb" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/fortalecedor-uñas-cherimoya.png" alt="fortalecedor-uñas-cherimoya" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- Esmalte semipermanente -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '3'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/top-coat-semi.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/top-coat-mate.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/base-coat.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/semi-variedad.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/base-capping.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/esmalte-semi-variedad.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/semi-reflectivo.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/base-ruber.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

          <!-- Preparadores y adherentes -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '4'">

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/primer-sin-accido.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/primer-con-accido.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/nivelador-ph.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/bonder.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/adhere.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>


         <!-- Polimeros -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '5'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/polimero-clear-cherimoya.png" alt="polimero-clear-cherimoya" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/polimero-cover-cherimoya.png" alt="polimero-cover-cherimoya" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Monomeros -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '6'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/monomero.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

          <!-- Geles -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '7'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/gel-solido.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- Adhesivos para piedreria -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '8'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/pegamento-strass-curado-uv-led.png" alt="pegamento-strass-curado-uv-led" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/adhesivo-con-pincel.png" alt="adhesivo-con-pincel" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

          <!-- limas -->
        <div class="row d-flex justify-content-center" *ngIf="selectedTab === '9'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/lima-sponge.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/lima-100.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/lima-vidrio.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/lima-240.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

         <!-- tips -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '10'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/tips-soft-gel-coffin.png" alt="tips-soft-gel-coffin" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/press-one-marca-new-quality.png" alt="press-one-marca-new-quality" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/muestrario-natural.png" alt="muestrario-natural" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Herramientas -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '11'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/corta-cuticula.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/alicate-corta-uñas.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/tijerita-corta-uñas.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/empujador-cuticulas.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/punta-obelisco.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Decoracion -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '12'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/stickers.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/cristales.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/fimos.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/papel-foil.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/forma-plana.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/papel-oro.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/papel-plata.png" alt="Descripción de la imagen" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Pinceleria -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '13'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/muestrario-natural.png" alt="muestrario-natural" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/muestrario-natural.png" alt="muestrario-natural" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/brochas-chica.png" alt="brochas-chica" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/pincel-linner-cherimoya.png" alt="pincel-linner-cherimoya" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <img src="../../../assets/productos/pincel-espatula-polygel.png" alt="pincel-espatula-polygel" class="img-fluid">
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- Cabinas -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '14'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- apoyamanos -->
         <div class="row d-flex justify-content-center" *ngIf="selectedTab === '15'">
          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 mb-3">
            <div class="carta-container">
              <div class="carta">
                <div class="front-content">
                  <p>Hover me</p>
                </div>
                <div class="content">
                  <p class="heading">Card Hover</p>
                  <p class="texto-insumos">
                    Lorem ipsum dolor sit amet, consectetur adipii
                    voluptas ten mollitia pariatur odit, ab
                    minus ratione adipisci accusamus vel est excepturi laboriosam magnam
                    necessitatibus dignissimos molestias.
                  </p>
                </div>
              </div>
            </div>
          </div>
         </div>

      </div>
    </div>
  </div>
</div>


<div style="height: 100px"></div>

<app-footer></app-footer>