
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

  .banner {
    position: relative;
    width: 100%;
    height: 48vh;
    background-image: url('../../../assets/productos-tdu.jpg');
    background-size: cover;
    animation: zoomBackground 10s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #fff;
    font-family: 'Rye', serif;
    text-transform: uppercase;
    
  }
  
  h2 {
    color: #8F0408;
    font-family: 'Roboto Slab';
    font-weight: 700!important;
   }
  
  .banner h1 {
    margin: 0;
    font-size: 50px;
  }
  
  @keyframes zoomBackground {
    0% {
      background-size: 100%;
    }
  
    100% {
      background-size: 120%;
    }
  }


  /* Remove this container when use*/
.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}

.tab-container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 2px;

  background-color: #dadadb;
  border-radius: 9px;
}

.indicator {
  content: "";
  width: 130px;
  height: 28px;
  background: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;

  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 0.75rem;
  opacity: 0.6;

  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(130px * 2 + 2px);
}
  
  
  
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
.carta-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.carta {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.carta .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.carta .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-100deg, #ffd900 0%, #8F0408 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.carta .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-100deg, #ffd900 0%, #8F0408 70%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translatex(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  animation: waveAnimation 5s linear infinite;
}

.carta .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.carta:hover .content {
  transform: translateY(0);
}

.carta:hover .front-content {
  transform: translateX(20%);
}

.carta:hover .front-content p {
  opacity: 0;
}
  

@media (max-width: 768px) {
  .carta-container {
    max-width: none;
    width: 80%;
  }

  .row{
    padding: 0 !important;
  }

  .banner h1 {
    margin: 0;
    font-size: 30px;
  }
}