<app-navbar></app-navbar>
<div class="banner d-flex flex-column justify-content-center align-items-center text-center">
  <h1>Distribuidora TDU</h1>
  <h2>Toda la informacion sobre los productos</h2>
</div>

<div style="height: 100px"></div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <!-- Tarjeta 1 -->
    <div class="col-md-4 mb-3">
      <div class="carta-container">
        <div class="carta">
          <div class="front-content">
            <img src="../../../assets/esmalte-tdu.jpg" alt="Descripción de la imagen" class="img-fluid">
          </div>
          <div class="content">
            <p class="heading">Card Hover</p>
            <p class="texto-insumos">
              Lorem ipsum dolor sit amet, consectetur adipii
              voluptas ten mollitia pariatur odit, ab
              minus ratione adipisci accusamus vel est excepturi laboriosam magnam
              necessitatibus dignissimos molestias.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-lg-4 col-md-4 mb-3">
      <div class="carta-container">
        <div class="carta">
          <div class="front-content">
            <p>Hover me</p>
          </div>
          <div class="content">
            <p class="heading">Card Hover</p>
            <p class="texto-insumos">
              Lorem ipsum dolor sit amet, consectetur adipii
              voluptas ten mollitia pariatur odit, ab
              minus ratione adipisci accusamus vel est excepturi laboriosam magnam
              necessitatibus dignissimos molestias.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-lg-4 col-md-4 mb-3">
      <div class="carta-container">
        <div class="carta">
          <div class="front-content">
            <p>Hover me</p>
          </div>
          <div class="content">
            <p class="heading">Card Hover</p>
            <p class="texto-insumos">
              Lorem ipsum dolor sit amet, consectetur adipii
              voluptas ten mollitia pariatur odit, ab
              minus ratione adipisci accusamus vel est excepturi laboriosam magnam
              necessitatibus dignissimos molestias.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 4 -->
    <div class="col-lg-4 col-md-4 mb-3">
      <div class="carta-container">
        <div class="carta">
          <div class="front-content">
            <p>Hover me</p>
          </div>
          <div class="content">
            <p class="heading">Card Hover</p>
            <p class="texto-insumos">
              Lorem ipsum dolor sit amet, consectetur adipii
              voluptas ten mollitia pariatur odit, ab
              minus ratione adipisci accusamus vel est excepturi laboriosam magnam
              necessitatibus dignissimos molestias.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Agrega más tarjetas según sea necesario -->
  </div>
</div>
<div style="height: 100px"></div>

<app-footer></app-footer>