
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

  .banner {
    position: relative;
    width: 100%;
    height: 48vh;
    background-image: url('../../../assets/productos-tdu.jpg');
    background-size: cover;
    animation: zoomBackground 10s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: #fff;
    font-family: 'Rye', serif;
    text-transform: uppercase;
    
  }
  
  h2 {
    color: #8F0408;
    font-family: 'Roboto Slab';
    font-weight: 700!important;
   }
  
  .banner h1 {
    margin: 0;
    font-size: 50px;
  }
  
  @keyframes zoomBackground {
    0% {
      background-size: 100%;
    }
  
    100% {
      background-size: 120%;
    }
  }


  label {
    position: relative;
    margin-bottom: 5px;
  }
  
  label::before {
    content: '';
    width: 0;
    height: 2px;
    background: #ac0d12;
    display: block;
    transition: width 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  label:hover::before {
    width: 100%;
  }

  label:hover{
    color: #ac0d12;
  }
  
  .tab {
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
  }
  
  .tab_label {
    cursor: pointer;
    color: #fff;
  }




.categorias{
  color: #fff;
  margin-bottom: 20px;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  cursor: pointer;
  color: #fff;
}


  
  
  
  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
.carta-container {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.carta {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.carta .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.carta .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-100deg, #ffd900 0%, #8F0408 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.carta .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-100deg, #ffd900 0%, #8F0408 70%);
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translatex(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  animation: waveAnimation 5s linear infinite;
}

.carta .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.carta:hover .content {
  transform: translateY(0);
}

.carta:hover .front-content {
  transform: translateX(20%);
}

.carta:hover .front-content p {
  opacity: 0;
}
  

@media (max-width: 768px) {
  .carta-container {
    max-width: none;
    width: 80%;
  }

  .row{
    padding: 0 !important;
  }

  .banner h1 {
    margin: 0;
    font-size: 30px;
  }
}





.texto{
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  color: #fff;
  font-family: 'Roboto Slab';
}


h6 {
  margin: 0 10px 5px 0;
  text-align: center;
  font-size: 21px;
  font-family: 'Rye', serif;
  text-transform: uppercase;
  color: #8F0408;
}

.local-link {
  color: red;
  text-decoration: none;
}

.whatsapp-link {
  color: #25D366;
  /* Color oficial de WhatsApp */
  text-decoration: none;
}

.instagram-link {
  color: #C13584;
  /* Color oficial de Instagram */
  text-decoration: none;
}















